<header id="header">
	<nav id="navbar">
		<a href="index.html#hero" id="nav_logo">
			<img src="src/images/logo.png" alt="Salloma Salomão" class="logo-image">
			<span>Salloma Salomão</span>
		</a>

		<ul id="nav_list">

		<button id="nav-close-button">
			<i class="fa-solid fa-xmark"></i>
		</button>

			<li class="nav-item"><a href="index.html#biotrajetorias">Biotrajetórias</a></li>
			<li class="nav-item dropdown">
				<a class="dropdown-toggle">Conteúdo <i class="fa-solid fa-chevron-down"></i></a>
				<ul class="dropdown-menu">
					<div class="dropdown-content">
						<li><a href="index.html#discografia">Discografia</a></li>
						<li><a href="index.html#filmografia">Filmografia</a></li>
						<li><a href="bibliografia.html">Bibliografia</a></li>
						<li><a href="teatralidades.html">Teatralidades</a></li>
						<li><a href="formacao.html">Formação</a></li>
						<li><a href="fotografia.html">Acervo Fotográfico</a></li>
					</div>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a class="dropdown-toggle">Shows <i class="fa-solid fa-chevron-down"></i></a>
				<ul class="dropdown-menu">
					<div class="dropdown-content">
						<li><a href="https://www.youtube.com/watch?v=d0a7cVDaAE0&list=RDd0a7cVDaAE0&start_radio=1&"
								target="_blank">30 Anos de Musicalidade e Negritude</a>
						</li>
						<li><a href="https://www.youtube.com/watch?v=QAzJCO5wUg4&" target="_blank">SALLOMA SALOMÃO 6.0
								M'BANZO DO FUTURO - Estúdio Cine Becos</a></li>
						<li><a href="https://www.youtube.com/watch?v=6GYLnKX-D6w" target="_blank">SALLOMA SALOMÃO 6.0
								Banda
								Al Andaluz Show Notas Totas da Madrugada</a></li>
						<li><a href="https://noitedostambores.com/?p=3044" target="_blank">Salloma Sallomão em Noite dos
								Tambores</a></li>
					</div>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a href="#" class="dropdown-toggle">Podcast e Afins <i class="fa-solid fa-chevron-down"></i></a>
				<ul class="dropdown-menu">
					<div class="dropdown-content">
						<li><a href="https://www.youtube.com/watch?v=Ux2AYCt4fP0" target="_blank">Mais Preta 3ª
								Temporada
								#EP05</a></li>
						<li><a href="https://www.youtube.com/watch?v=nTcHeaCEWQo" target="_blank">Z da Questão - 1º
								Videocast do Museu Itamar Assunção</a></li>
						<li><a href="https://www.youtube.com/watch?v=5eGcu4cVYBc&list=PLdRCuOXzOVz8lswsGexz_3ELd8RRcFqxc&index=4"
								target="_blank">HISTÓRIAS DE CONFORTO #EP05</a></li>
						<li><a href="https://open.spotify.com/episode/7ns2MDumXZxN8bw6hJVeYX?si=e8d744c9589943ee"
								target="_blank">Mano a mano: Katiuscia Ribeiro e Salloma
								Sallomão</a></li>
						<li><a href="https://jornal.usp.br/podcast/de-papo-pro-ar-138-o-mineiro-salloma-salomao-fala-sobre-seu-novo-trabalho-ancestres-de-prima-vera/"
								target="_blank">De papo para o ar #EP138 Jornal da
								USP</a></li>
						<li><a href="https://www.youtube.com/watch?v=p-3a04xURJg&t=191s" target="_blank">África e
								Africanidades</a></li>
						<li><a href="https://www.youtube.com/watch?v=HnqIfjc9AN0&t=547s" target="_blank">Websérie
								AfroTranscendence - Capítulo 07</a></li>
						<li><a href="https://www.youtube.com/playlist?list=PLggyRMb5eNeKXHKhQT4xUQ5O3JlkkX7RS"
								target="_blank">Websérie Coleção Antirracista</a></li>
						<li><a href="https://www.youtube.com/watch?v=PTMNWLQI4ow" target="_blank">Websérie Tão Longe Tão
								Perto</a></li>
						<li><a href="https://www.youtube.com/watch?v=C9CgMuEyE2M&list=PLi6-eYeTdWvfQZQqFZmQMiPf-8zGLkWH5"
								target="_blank">Rádio Busão Rede Móvel de comunicação
								periférica</a></li>
					</div>
				</ul>
			</li>
			<li class="nav-item dropdown">
				<a href="#" class="dropdown-toggle">Notícias <i class="fa-solid fa-chevron-down"></i></a>
				<ul class="dropdown-menu">
					<div class="dropdown-content">
						<li><a href="https://www.cartacapital.com.br/blogs/augusto-diniz/possibilidades-da-cultura-afro-salloma-salomao-vocaliza-4-cancoes-em-novo-disco/"
								target="_blank">Carta Capital</a></li>
						<li><a href="https://www.youtube.com/watch?v=Era-1Nhoj5w&t=110s" target="_blank">Brasil de Fato
								Entrevista</a></li>
						<li><a href="https://br.trace.tv/pessoas/entrevista-conheca-o-multiartista-pesquisador-educador-e-dramaturgo-salloma-salomao/"
								target="_blank">Trace Brasil</a></li>
						<li><a href="https://bravo.abril.com.br/musica/salloma-salomao-40-anos-de-carreira-entrevista/"
								target="_blank">Bravo! Grupo Abril</a></li>
						<li><a href="https://www.youtube.com/watch?v=i2yBdYLe53g&t=3377s" target="_blank">Cine Becos -
								Salloma Sallomão Pesquisa</a></li>
					</div>
				</ul>
			</li>
			<button class="btn-contact" onclick="scrollToContact()">Contato</button>

		</ul>

		<button id="mobile_btn">
			<i class="fa-solid fa-bars"></i>
		</button>

	</nav>
</header>